@{
    ViewBag.Title = "DoDList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="~/Content/Site.css" type="text/css">
<script type="text/javascript" src="~/Scripts/jspdf.min.js"></script>
<script src="~/Scripts/Logic.js"></script> 
<form id="form1">

        <div id="myModalM" class="modal" style="background-color:#F5F5F5">
            <div class="modal-content">
                <span class="close" id="rad"> Accept </span>
                <p class="modallist">
                    <span id="OptionsArea">
                        <!--Textboxes will be added here -->
                    </span>
                </p>
            </div>
        </div>

        <table align="center">
            <caption>
                <h1>DoD Maker</h1>
                @if (Session["UserID"] != null)
                {
                    <label style="font-size:16px;font-weight:400;" >Project Name: </label>
                    <select id="projDropDown" style="font-size:16px;">
                        
                        @foreach (var proj in ViewBag.Projects)
                        {
                            <option value="@proj.AvailableProjectID">@proj.AvailableProjectName</option>
                        }
                    </select>
                }
            </caption>
            <tr>
                <th style="padding-left:15px;padding-top:0px;padding-bottom:0px;"><h3>Basic DoDs</h3></th>
                <th></th>
                <th style="padding-left:15px;padding-top:0px;padding-bottom:0px;"> <h3>My DoDs</h3></th>
            </tr>
            <tr>
                <td>
                    <select id="ListBox1" class="list" style="height:375px ; width: 600px;" size="10" ondrop="removeDOD(event)" ondragover="allowDrop(event)">
                            @{
                             int i = 0;
                             foreach (var elem in ViewBag.Example)
                             {
                                <option id="@i" class="element" draggable="true" ondragstart="drag(event)" title="@elem.DODTemplate">  @elem.DODTemplate </option>
                                  i++;
                              }
                            }
                    </select>
                </td>
                <td style="width:118px;">
                    <input type="button" class="moves" id="copyItem" value=">>" onclick="copyDOD(event)" /> <br/>
                    <input type="button" class="moves" id="copyItem" value="<<" onclick="removeDOD(event)" />
                </td>

                <td>
                    <select id="ListBox2" class="list" style="height:375px ; width: 600px" size="10" ondrop="copyDOD(event)" ondragover="allowDrop(event)" />
                </td>
            </tr>
        </table>
        @if (Session["UserID"] != null)
        {
            <input type="button" class="button" id="save" value="Save Dod's" onclick="saveOnClick()" />
        }

        <input type="button" class="button" id="export" value="Export to PDF" onclick="exportToPDF()" />
</form>
